<!-- Optional additional links to insert for icons links -->

<a
  id="linkedin-link"
  class="icon"
  title="LinkedIn"
  aria-label="LinkedIn"
  href="https://www.linkedin.com/in/mirko-zichichi-63a803100/"
>
  {% include svg/linkedin.svg %}
</a>
<a
  id="github-link"
  class="icon"
  title="github"
  aria-label="github"
  href="https://www.github.com/miker83z"
>
  {% include svg/github.svg %}
</a>
<a
  id="scholar-link"
  class="icon"
  title="Google Scholar"
  aria-label="Google Scholar"
  href="https://scholar.google.com/citations?user=ikI56qoAAAAJ"
>
  {% include svg/school.svg %}
</a>
<a
  id="researchgate-link"
  class="icon"
  title="Researchgate"
  aria-label="Researchgate"
  href="https://www.researchgate.net/profile/Mirko_Zichichi"
>
  {% include svg/search.svg %}
</a>
<a
  id="orcid-link"
  class="icon"
  title="Orcid"
  aria-label="Orcid"
  href="https://orcid.org/0000-0002-4159-4269"
>
  {% include svg/orcid.svg %}
</a>
<a
  id="skype-link"
  class="icon"
  title="mirko.zichichi"
  aria-label="mirko.zichichi"
  href="skype:mirko.zichichi?chat"
>
  {% include svg/skype.svg %}
</a>
<a
  id="youtube-link"
  class="icon"
  title="Youtube"
  aria-label="Youtube"
  href="https://www.youtube.com/user/miker83z"
>
  {% include svg/youtube.svg %}
</a>
